<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      My First Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true" scrollY="true">
  <pinch-zoom>
  <ion-grid>
    <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <p>{{photo.time}}</p>
     <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>
</pinch-zoom>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="photoService.addNewToGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>