ion-header{
    --ion-background-color:#000000;
    --ion-font-family:'Times New Roman';
}
ion-content{

    --ion-background-color:#575558;
}
ion-icon{
    font-size: 100px;
    width: 80%;
}
p{
    font-size:1.8cm;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 255, 51);
    text-align: center !important;
}


